body {
	font-family: 'Roboto', sans-serif;
}

h1, hr {
	color: #fff;
}

a {
	text-decoration: none;
	color: #22577E;
}

a:hover {
	color: white;
}

p{
	font-size: 11px;
}

.units {
	font-size: 20px;
	padding: 10px;
	color: black;
	font-weight: 400;
}
.container {
	margin: 10px auto;
	max-width: 500px;
	border-radius: 10px;
	padding: 20px;
	background: linear-gradient(178.18deg, #737dfe -5.88%, #ffcac9 103.61%);
}

.header {
	margin-bottom: 18px;
}

.search {
	margin-left: 20px;
}

.form-control {
	font-family:monospace;
	opacity: 0.7;
}

.btn-primary {
	background-color: #95D1CC;
	border: #5584AC;
	box-shadow: 0 0 10px rgba(85, 132, 172, 0.5);
}

.btn-primary:hover {
	background-color:#5584AC;
}

.col-left {
	margin-left: 37px;
}

#current-city-title, #current-weekday {
	font-size: 26px;
	line-height: 45px;
}

#current-weather{
	color:#22577E;
	font-family: 'Sansita', sans-serif;
	text-transform: capitalize;
	font-size: 24px;
	margin-bottom: 20px;
}

#current-city-title {
	margin-top: 20px;
}

.current-temperature {
	font-size: 26px;
	font-weight: 900;
	line-height: 25px;
	color: #22577E;
}


#current-weather-emoji {
	font-size: 60px;
	max-height: 75px;
}

.precipittion, .wind {
	font-size: 16px;
	font-family: 'Sansita', sans-serif;
}

.week {
	text-align: center;
}

.weather-emoji {
	font-size: 30px;
	padding: 0;
}

.temperature {
	color: #22577E;
	font-weight: 500;
}

.date {
	font-size: 14px;
}

.coder {
	display: block;
	margin: 0 auto;
	padding: 0 10px;
	max-width: 500px;
}

.link-git:hover {
	color:#737dfe;
}

.current-temperature .active {
	color: black;
	cursor: default;
}
